[submodule ".zsh/base16-shell"]
	path = .zsh/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule ".vim/vim-plug"]
	path = .vim/vim-plug
	url = git@github.com:junegunn/vim-plug.git
[submodule ".vim/autoload/vim-plug"]
	path = .vim/autoload/vim-plug
	url = git@github.com:junegunn/vim-plug.git
